* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hubballi", cursive;
  background-image: linear-gradient(
    to bottom,
    #4561df,
    #2c77e0,
    #3289db,
    #4f99d3,
    #72a6c9
  );
  color: rgb(255, 255, 255);
}

/* ----------------------------SCROLL BAR---------------------------------------- */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(28, 113, 223, 0.76);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3289db;
  border-radius: 10px;
}

/* ----------------------NAVBAR----------------------------- */
.navbar {
  padding: 1% 2%;
  border-bottom: 1px solid #84b7ff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: space-between;
}

.brand-name {
  font-size: 1rem;
}

.search-bar {
  background: rgba(231, 231, 231, 0.3);
  border: none;
  outline: none;
  color: #fff;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0.5em;
}

.search-icon {
  padding: 0.5em;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 4px;
}

.search-icon:hover {
  background-color: rgba(231, 231, 231, 0.3);
}

::placeholder {
  color: rgba(241, 240, 240, 0.705);
}

/* -------------------WEATHER SUMMARY------------------------------ */

.app-content {
  margin: 3% 15%;
}

.city-name {
  font-size: 2.6rem;
}

.today-date {
  font-size: 1.3rem;
}

.summary-container {
  margin: 5% 2%;
  display: flex;
  justify-content: space-between;
}

/* ----TODAY INFO---- */

.today-info {
  font-size: 6rem;
  position: relative;
  flex-basis: 50%;
  border-right: 1px solid #84b7ff;
}

.today-temp-word {
  font-size: 1.5rem;
  position: absolute;
  left: 30%;
}

/* ------TODAY-SUMMARY----- */

.today-summary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
  flex-basis: 40%;
  margin-top: 1em;
}

.today-summary-info {
  font-size: 1.8rem;
  margin-bottom: 0.2em;
}

.today-summary-label {
  font-size: 1.1rem;
  font-weight: 200;
  color: rgb(223, 221, 221);
}

/* ---------------------HOURLY WEATHER---------------------- */
.today-hourly-weather {
  margin-top: 12%;
}
.hourly-heading,
.next-week-heading {
  font-size: 1.8rem;
  margin-bottom: 3%;
}
.hourly-weather-cards {
  display: flex;
  justify-content: space-between;
}

.hourly-weather-card {
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0 2em;
  border-radius: 10px;
  text-align: center;
}

.hourly-temp,
.hourly-icon,
.hourly-time {
  margin: 1em 0;
}

/* -----------------------NEXT WEEK ------------------------------ */

.next-week-container {
  margin: 10% 0;
}

.next-week-card {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1em;
  border-radius: 10px;
  margin-bottom: 1em;
}

.week-card-day-label,
.week-card-high-label,
.week-card-low-label,
.week-card-wind-label,
.week-card-rain-label {
    margin-top: .5em;
    font-size: 1.1rem;
    font-weight: 200;
    color: rgb(223, 221, 221);

}
